<% if (title) { %>
    <h1> <%= title %> </h1>
    <% } else {
      res.redirect('/')
    } %>

<%- messages() %>

<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>

<!-- Form for new message -->
<form action="/account/createMessage" method="post">
  <fieldset>
    <p>ALL FIELDS ARE REQUIRED</p>
    <label for="accountId" id="accountNames">To:</label> <br>
    <%- select %> <br>
    <label for="subjectMessage">Subject:</label> <br>
    <input name="subject_message" id="subjectMessage" type="text" required> <br>
    <label for="subjectBody">Message:</label> <br>
    <textarea name="subject_body" id="subjectBody" cols="30" rows="10" required></textarea> <br>
    <input type="submit" name="submit" value="Send" id="sendButton">
    <input type="hidden" name="message_from" <% if(locals.message_from) { %> value="<%= locals.message_from %>" <% } %> >
  </fieldset>
</form>