<!-- Content Heading -->
<% if (title) { %>
    <h1> <%= title %> </h1>
    <% } else {
      res.redirect('/')
    } %>
<% if (errors) { %>
    <ul class="notice">
    <% errors.array().forEach(error => { %>
        <li><%= error.msg %></li>
    <%  }) %>
    </ul>
    <% } %>
  <!-- flash messages if any will be displaced as a result of the following line of code -->
  <%- messages() %>
  
  <!-- Message to read -->
   <h3>From:</h3> <p><%- from %></p>
   <h3>Message:</h3> <p><%- message %></p>
   <h3>Sent at: </h3><p><%- created %></p>
  
  <!-- <%#- div %> -->
  <hr> 
  
  <!-- actions -->
  <div id="links">
  <p><a href="/account/inbox">Return To Inbox</a></p>
  
  <form action= "/account/reply/<%- message_id %>" >
    <input name="message_id" type="submit" value="Reply <%- from %>">
  </form>
  
  <form action= "/account/read/<%- message_id %>" method= "post" >
    <input name="message_id" type="submit" value="Mark as Read">
  </form>
  
  <form action= "/account/archive/<%- message_id %>" method= "post">
    <input name="message_id" type="submit" value="Archive Message">
  </form>
  
  <form action= "/account/delete/<%- message_id %>" method= "post">
    <input name="message_id" type="submit" value="Delete Message">
  </form>
  
  </div>