<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
        res.redirect('/')
    } %>
        <!-- # disables this code. 
        you'll replace with mark (—) -->
    <%- messages() %>
    <!-- <%# options %> -->
<form id="deleteForm" action="/inv/delete" method="post">
    <p>Confirm Deletion - The delete is permanent.</p>
<fieldset>
    <!-- Ensure that the "inv_id" hidden input remains in the form. -->
    <label for="invmake">Make:</label><br>
        <input type="text" id="invmake" name="inv_make" required pattern="[a-zA-Z]+" value = "<%= locals.inv_make %>" title="Min of 3 characters">
        <label for="invmodel">Model:</label><br>
        <input type="text" id="invmodel" name="inv_model" required pattern="[a-zA-Z]+" value = "<%= locals.inv_model %>" title="Min of 3 characters">
        <label for="invprice">Price:</label><br>
        <input type="text" id="invprice" name="inv_price" required pattern="^\d+\.?\d*$" value = "<%= locals.inv_price %>" title="Decimal or integer"> 
        <label for="invyear">Year:</label><br>
        <input type="text" id="invyear" name="inv_year" required pattern="[0-9]{4}$" value = "<%= locals.inv_year %>" title="4 Digits year">
   
    <button class="deleteBtn" type="submit">Delete Vehicle</button>
    <input type="hidden" name="inv_id"
<% if(locals.inv_id) { %> value="<%= locals.inv_id %>"
<% } %>>
</fieldset>
</form>
